<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>aps-environment</key>
    <string>production</string>
    <key>com.apple.developer.associated-domains</key>
    <array>
      <string>applinks:unitydemosdk6.gsc.im</string>
      <string>applinks:unitydemosdk6-gsalt.gsc.im</string>
      <string>applinks:unitydemosdk6.testing.gsc.im</string>
      <string>applinks:unitydemosdk6-gsalt.testing.gsc.im</string>
    </array>
  </dict>
</plist>