.proSkin {
    background-color: #383838 !important;
    color: #DBDBDC !important;
}

.proSkin header {
    background-image: url('logo_pro.png') !important;
}

.proSkin a {
    color: #578de8 !important;
}